*
{
padding: 0;
margin: 0;

}

section
{
  display: flex;
  justify-content: center;
  align-items: center;  
  /*padding: 100px;*/
  padding-top: 0px;
  overflow: hidden;
  background-color: white;
  height: 100vh;

}


section  .logo
{
    
    background: url(../media/logo2.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    right: 0;
    left: -20px;
    bottom: 0;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
   

}
section .logo a{
text-decoration: none;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:#c33a3f ;
font-size: 2em;
position: absolute;
top: 10%;
left: 40%;
border: 2px solid#c33a3f;
border-radius: 10px;
transition: all 1s ease-in-out;
}

section .logo a{

  background: linear-gradient(to right, #9ed8d8, #9ed8d8 50%, #c33a3f 50%);
  
}

section .logo a
{

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

section .logo a
{

  transition: background-position .5s ease;
}

section .logo a:hover
{

  background-position: 0 100%;
}

section .btnRight
{
margin-left: 10px;
z-index: 1;


}

section .btnLeft
{
margin-right: 10px;
z-index: 1;


}
#logobtn
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: none;
color: #c33a3f;
font-size: 70px;
cursor: pointer;

}


#logobtn {
    
    background: linear-gradient(to right, #c33a3f, #c33a3f 50%, #9ed8d8 50%);
  }
 
 
  #logobtn {
    
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
  }


  #logobtn {
   
    transition: background-position 0.2s ease;
  }
  #logobtn:hover {
    background-position: 0 100%;
  }

